@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: white;
    background-color: black;
    font-family: 'Poppins', 'Arial', sans-serif;
    overflow-x: hidden;
  }
}
@layer components {
  .menuLink {
    @apply cursor-pointer rounded px-4 py-2 text-sm text-white  hover:bg-gradient-to-r hover:from-purple-500 hover:to-slate-400 hover:shadow-lg hover:scale-105 transition-all duration-300 ease-in-out;
  }
  .tags {
    background-color:#0abde3;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
display: inline-block;
color: white;
font-size: 12px;
  }
  .tags:last-child{
    margin-right: 0;
  }
  .tags:nth-child(2){
    background-color: #a55eea;
  }
  .tags:nth-child(3){
    background-color: #ea5e5e;
  }
  .tags:nth-child(4){
    background-color: #5eea81;
  }
  .tags:nth-child(4){
    background-color: #eada5e;
  }
  .tags:nth-child(5){
    background-color: #ea5e83;
  }


  .margin-1{
    margin-top: 80px;
  }
  .text-4xl{
    margin-bottom: 30px;
  }
  .skill-1{

    align-items: center;
  }


  img {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

img:hover {
    transform: rotateY(180deg);
}

/* Apply Fade-in and Pop-up Hover Effect to All Text */
*:is(h1, h2, h3, h4, h5, h6, p, span,  li, strong, em) {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 5;
    transform: translateY(10px);
    animation: fadeIn 1s ease forwards; /* Smooth fade-in on load */
}

/* Pop-up Hover Effect */
*:is(h1, h2, h3, h4, h5, h6, p, span, a, li, strong, em):hover {
    transform: scale(1.05); /* Creates pop-up effect on hover */
}
}